body {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 80px;
    /* tlo w samolociki ! :D */
    background: url('images/plane.gif'); /* default repeat */
}

.index {
    background-color: #64bec7;
    padding: 20px 100px 20px 100px; /* top right bottom left */
    /*position: fixed;*/
}

.header {
    display: inline-block;
}

.form {
    float: right;
}

.output {
    margin-top: 20px;
    background-color: #64bec7;
    opacity: 0.9;
    padding: 40px 100px 40px 100px; /* top right bottom left */
}

li {
    padding: 5px;
    font-size: 1.1em;
}

a:link {
    color: #B75A03;
}

a:hover {
    background-color: white;
}

a:visited {
    color: #361e03;
}
