<!DOCTYPE html>
<html>
<head>
<title>TORRENTlista</title>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'filmy/style.css' %}" />

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'filmy/script.js' %}"></script>

<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="index">
	<div class='header'>
	<h1>TORRENTlista</h1>
	<h3>Wpisz frazy, które chcesz wyszukać:</h3>
	</div>

	<div class="form">
	{% block form %}

	<form method="post">{% csrf_token %}

	{{ form.query }}
	<!-- {{ form.as_p }} -->
	<input type="submit" value="Szukaj" name="Szukaj"/>

	{% if form.query.errors %}
		<p class="error">To pole jest wymagane</p>
	{% endif %}
	</form>
	
	{% endblock %}
	</div>
</div>
	{% block content %}
	{% endblock %}
	
</body>
</html>