<!DOCTYPE html>
<html>
<head>
<title>TORRENTlista</title>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'filmy/style.css' %}" />

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'filmy/script.js' %}"></script>

<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="index">
	<div class='header'>
	<h1>TORRENTlista</h1>
	<h3>Wyszukiwane frazy: dvdrip hdtv tvrip brrip</h3>
	</div>	
</div>
<br>
        <ul>
	{% for item in data %}
	    <li>{{ item.NAME }} -- {{ item.SEEDS }} | {{ item.PEERS }}<br><a href="{{ item.URL }}"</a></li>
	{% empty %}
	<p>Brak wyników wyszukiwania.</p>
	{% endfor %}
	</ul>
    
</body>
</html>



